
/*
 * zR: Unfold All
 * zM: Fold All
 * zz: Toggle Fold
 */

/*
 * {{{ GLOBAL ELEMENTS
 */

body, html {
    font-family: 'Segoe UI Web (West European)','Segoe UI',-apple-system,BlinkMacSystemFont,Roboto,'Helvetica Neue',sans-serif;
    margin:0px;
    padding: 0px;
}

p {
    margin-top:5px;
}

/*
 * }}}
 */

/*
 * {{{ LOADER
 */
#loader-container {
    display:none;
    position: absolute;
    top: 0px; right: 0px; bottom: 0px; left: 0px;
    background-color:rgba(0,0,0,.8);
    align-items: center;
    justify-content: center;
    z-index: 1000;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 1em;
}

#loader-contents {
    text-align: center;
    color: white;
}

/*
 * }}}
 */

/*
 * {{{ MESSAGE OVERLAY 
 */
#message {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: 1000;
    background-color:rgba(0,0,0,.3);
    display:flex;
    align-items: center;
    justify-content: center;
}

#message-contents {
    text-align: center;
    background-color:white;
    width: calc(100vw - 50px);
    padding: 10px;
}

/*
 * }}}
 */

/*
 * {{{ APP
 */
#container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
}
/*
 * }}}
 */

/*
 * {{{ TITLE 
 */
#title-area {
  background-color:#F4F4F4;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 350px; */
  text-align:center;
}

#title-area > img {
    max-width: 80px;
    margin-top: 30px;
}

#title-area > h3 {
    font-size:42px;
    font-weight: 100;
    margin: 20px 0px;
}

/*
 * }}}
 */

/*
 * {{{ TOP CONTROLS 
 */
#top-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F4F4F4;
}


#top-controls-btns {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*
 * }}}
 */

/*
 * {{{ USER INTERACTION ELEMENTS 
 */

.custom-select {
    background-color: white;
    border: 1px solid #666;
    padding: 8px;
}

.wider-elements {
    width: calc(100vw - 50px);
}

.widest-elements {
    width: 100%;
}

.btns {
    font-weight: lighter;
    background-color: #0078D7;
    border-width: 0px;
    padding: 8px 15px;
    color: white;
    margin: 15px 5px;
    min-width: 92px;
}

.control-btns {
    margin-top: 0px; margin-bottom: 0px;
}

.btns:hover {
    cursor:pointer;
}

.control-input {
    margin-top: 10px;
    padding: 3px;
    width: 50px;
}

.text-input-area {
    display:flex;
}

.text-input {
    flex: 1;
    min-width: 10px;
}

.text-input-btn {
    min-width: 25px;
    margin-top: 0px; margin-bottom: 0px;
    margin-left: 10px; margin-right: 0px;
}

/*
 * }}}
 */

/*
 * {{{ CONTROL SECTIONS
 */

/* Collapsible */


.collapsible {
    display:flex;
    flex-direction: column;
}

.collapsible-head {
    background-color: #0078D7;
    display: flex;
    align-items: center;
    height: 35px;
    border-bottom: 1px #66aee7 solid;
}

.collapsible-head > p {
    margin: 0px;
    padding-left: 10px;
    color:white;
}

.collapsible-head > span {
    margin-left: 10px;
    font-size: 8pt;
}

.collapsible-head:hover {
    filter:brightness(110%);
    cursor: pointer;
}

.collapsible-container {
    margin:5px;
    border: solid rgba(0,0,0,.25) 1px;
}



.control {
    padding:10px;
    border-bottom: 1px solid #DDD;
}

.info {
    display:flex;
    background-color:#F4F4F4;
    margin:10px 5px 5px 5px;
    padding: 5px;
    font-size: smaller;
}

.info-i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
}

.cir {
    display:flex;
    align-items:center;
    justify-content:center;
    color:white;
    background-color: #007743;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    font-size: 6pt;
    margin-right: 5px;
}

/*
 * }}}
 */

/*
 * {{{ FOOTER
 */

#copy {
    width: 100%;
    text-align:center;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 8pt;
}

/*
 * }}}
 */






